.taskSection {
  width: 100%;
  height: 100%;
  margin-top: -5rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
}

header input {
  flex: 1;
  padding: 1.6rem;
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 0.8rem;
  font-size: 1.6rem;
  color: var(--gray-300);
}

header button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem;
  border-radius: 0.8rem;
  background: var(--dark-blue);
  gap: 0.8rem;
  border: none;
  cursor: pointer;

  font-weight: 700;
  font-size: 1.4rem;
  line-height: 140%;
  color: var(--gray-100);
  transition: background 0.3s;
}

header button:hover {
  background: var(--blue);
}

.taskSectionCount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6.4rem 0 2.4rem;
}

.taskSectionWithoutList {
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
  width: 100%;
}

.taskSectionWithoutList div {
  padding: 6.4rem 2.4rem;
  text-align: center;
}

.taskSectionWithoutList div p {
  font-weight: 700;
  color: var(--gray-300);
  font-size: 1.6rem;
  line-height: 140%;
}

.taskSectionWithoutList div p:nth-child(3t) {
  font-weight: 400;
}

.taskSectionWithoutList div svg {
  margin-bottom: 1.6rem;
}

.taskSectionWithoutList div p {
  width: 100%;
}

.taskCreate {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.taskCreate strong {
  color: var(--blue);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.taskCreate span {
  color: var(--gray-200);
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.taskComplete {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.taskComplete strong {
  color: var(--purple);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.taskComplete span {
  color: var(--gray-200);
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.taskCounterBox {
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--gray-400);
  border-radius: 99rem;
  padding: 0.2rem 0.8rem;
}

.taskList ul div {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  gap: 1.2rem;
  width: 100%;
}

.taskList ul {
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
}

.taskList ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--gray-500);
  width: 100%;
  height: 100%;
  padding: 1.6rem;

  border: 1px solid var(--gray-400);
  box-shadow: 0px 0.2rem 0.8rem rgba(0, 0, 0, 0.06);
  border-radius: 0.8rem;
  gap: 1.6rem;
  overflow-wrap: break-word;
}

.taskCheckbox {
  width: 16px;
  height: 16px;
  background-color: var(--blue);
  border-radius: 50%;
}

p {
  font-size: 1.4rem;
  line-height: 140%;
  color: var(--gray-300);
  line-break: auto;
  width: 80%;
}

.completed {
  color: var(--gray-300);
  text-decoration-line: line-through;
}

.taskList ul div li .taskCompletedCheck {
  color: #4ea8de;
}

.taskList ul .completed li .taskCompletedCheck {
  background: var(--purple);
  border-radius: 100%;
  border: none;
}

.taskDelete {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.taskDelete svg {
  color: var(--gray-300);
  transition: color 0.3s;
}

.taskDelete svg:hover {
  color: var(--danger);
}
